<!DOCTYPE html>
<html>
<head>
    <title>Détails du Pokémon</title>
</head>
<body>
    <h1>Détails de {{ pokemon.name }}</h1>
    <img src="{{ pokemon.image }}" alt="Image de {{ pokemon.name }}">
    <p><strong>Type(s) :</strong> {{ pokemon.types|join:", " }}</p>
    <p><strong>Taille :</strong> {{ pokemon.height }} dm</p>
    <p><strong>Poids :</strong> {{ pokemon.weight }} hg</p>
    {% for stat in pokemon.stats_of %}
        <li>{{ stat.name|capfirst }}: {{ stat.value }}</li>
    {% endfor %}
    <form method="post" action="">
        {% csrf_token %}
        <input type="hidden" name="add_to_team" value="{{ pokemon.number }}">
        <button type="submit">Ajouter à l'équipe</button>
    </form>
</body>
</html>
